:root {
  --heading-font-family: "Roboto", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: 700;
}

.global-header {
  background-color: #2e2f42;
}

ul {
  list-style-type: none;
}
